/* the hot key for commenting in css is type, then highlight and cntrl+/ then it will change to comment, or just use hotkey and it will auto populate*/

/* to start a section periods are used for targetting elements with a class, # is used when targeting elements with a specific ID and you use no symbol when targeting html tags like body, p, h1,div */

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* the * targets the whole page */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black;
}

/* TRANSITION */

/* a is all the links */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

/* lisat style takes away the bullet points that were originally part of the nav bar */
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

/* display: inline-block property makes an element behave like an inline element (e.g., <span>), but it also allows you to set width, height, padding, and margin, which are typically not possible with purely inline elements. */
.hamburger-menu {
  position: relative;
  display: inline-block;
}

/* The justify-content property is used in Flexbox or Grid layouts to align items along the main axis (horizontal by default in Flexbox).

space-between: Distributes items evenly across the container, with the first item aligned to the start and the last item aligned to the end. The remaining space is distributed between the items. */

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

/* we used ease-in-out instead of ease so that hamburger menu turns into x */
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* targets aLL the links */
.menu-links li{
    list-style: none;
}

/* this targets the js "open" class */
.menu-links.open {
    max-height: 300px; /* Adjust this value based on the number of links */
}

.hamburger-icon.open span:first-child